body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
}

#hero {
  background-color: #727C80;
  height: 100vh;
  color: #E7E6E6;
  font-weight: lighter;
  text-align: center;
  position: relative;
}
#hero .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
#hero h1 {
  font-size: 100px;
  line-height: 1em;
  margin: 0 auto 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .1em;
}
#hero h2 {
  font-size: 40px;
  line-height: 1em;
  margin: 0 auto 30px;
  letter-spacing: .1em;
  word-spacing: .1em;
}
#hero a {
  font-size: 15px;
  line-height: 1.5em;
  display: block;
  margin: 0 auto;
  width: 150px;
  color: #FEFEFF;
  padding: 10px 20px;
  background-color: #3B4143;
  border-radius: 17px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#hero a:hover {
  background-color: #4B5153;
}
@media screen and (max-width: 1280px) {
  #hero h1 {
    font-size: 60px;
    margin: 0 auto 10px;
  }
  #hero h2 {
    font-size: 24px;
    margin: 0 auto 20px;
  }
  #hero a {
    font-size: 9px;
    width: 100px;
  }
}
@media screen and (max-width: 560px) {
  #hero h1 {
    font-size: 40px;
  }
  #hero h2 {
    font-size: 16px;
  }
}

#contact {
  height: 100vh;
  background-color: #FEFEFF;
}
#contact .left {
  float: left;
  width: 40%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}
#contact .left img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contact .right {
  float: left;
  width: 60%;
  position: relative;
  height: 100vh;
  color: #3B4143;
  text-align: center;
}
#contact .right .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
#contact .right h3 {
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .1em;
  margin-bottom: 30px;
}
#contact .right p, #contact .right a {
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .1em;
  word-spacing: .1em;
  margin-bottom: 20px;
}
#contact .right a {
  color: #3B4143;
}
#contact .right a:hover {
  color: #81A8B2;
}

@media screen and (max-width: 1280px) {
  #contact .right h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #contact .right p, #contact .right a {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 960px) and (max-height: 1280px) {
  #contact .left img {
    width: initial;
    height: 100vh;
  }
}