body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	color:#666666;
	line-height: 1.5em;
	font-weight: 100;
}
h1 {
	color: #E7E6E6;
	font-size: 40px;
	letter-spacing: 0.3em;
	word-spacing: 0.3em;
	line-height: 1.5em;
	text-transform: uppercase;
}
h2 {
	color: #E7E6E6;
	font-size: 20px;
	letter-spacing: 0.3em;
	word-spacing: 0.3em;
	line-height: 1.5em;
	margin-bottom: 100px;
}
h3 {
	color: #3A4042;
	font-size: 30px;
	letter-spacing: 0.3em;
	word-spacing: 0.3em;
	line-height: 1.5em;
	text-transform: uppercase;
}
h4 {
	color: #3A4042;
	font-size: 15px;
	line-height: 1.5em;
	text-transform: uppercase;
}
p {
	color: #828A8E;
	font-size: 13px;
	line-height: 1.5em;
}
hr {
	margin: 40px 0;
	color:#E7E6E6;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear:both;
}

/* Nav Bar */
#nav {
	background-color:#F6F6F6;
	padding: 50px;
}
#nav p {
	font-size: 80px;
	line-height: 1.5em;
	text-align: center;
}

/* Julia Feld */
#juliafeld {
	background-color:#727C80;
	padding: 235px;
	text-transform: uppercase;
	text-align: center;
}
a#contactButt {
	color: #FEFEFF;
	text-decoration: none;
	padding: 15px 40px;
	background-color:#3B4143;
	width: 150px;
	margin:0px auto;
	border: 2px solid #3B4143;
    border-radius: 25px;
}

/* About */
#about {
	background-color:#FEFEFF;
}
#about .left {
	line-height: 0;
	overflow: hidden;
	width: 30%;
}
#about .left img {
	height: 800px;
}
#about .right {
	width: 70%;
}
#about .right .content {
	padding: 30px;
}
#about h3 {
	margin: 20px 0 40px;
}
#skills li {
	float: left;
	width: 50%;
	padding: 20px 0px;
}
#skills h4, p {
	padding-left: 20px;
}
#skills p {
	padding-top: 10px;
}
#skills li div {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	min-height: 84px;
	padding: 10px 10px 10px 84px;
}
#skills li div.uiux {
	background-image: url(images/monitor.png);
}
#skills li div.brand {
	background-image: url(images/pencilruler.png);
}
#skills li div.web {
	background-image: url(images/webpage.png);
}
#skills li div.walk {
	background-image: url(images/compass.png);
}
/* Work */
#work {
	background-color:#E7E6E6;
	padding: 200px;
}
#work ul {
	display: inline-block;
  	width: 40%;
  	float: left;
}
.image {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.work1 p {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
#work img {
	width: 300px;
}

/* Contact */
#contact {
	background-color:#727C80;
	padding: 200px;
}
#contact p {
	color: #3D4245;
	font-size: 10px;
	line-height: 1.5em;
}
#contact li {
	color: #3D4245;
	font-size: 10px;
	line-height: 1.5em;
}

/* Footer */
#footer {
	background-color:#3A4042;
	padding: 50px;
}
#footer img {
	width: 40px;
	float: left;
}
#footer li {
	display: inline-block;
	width:25%;
}
#footer a {
	display:block;
	padding: 10px;
	text-decoration: none;
	font-size: 15px;
	line-height: 1.5em;
	color: #FEFEFF;
}